<div class="container">
  <div class="footer">
    <p>©kpvarma 2014</p>
  </div>
</div>

<!-- Loading Javascripts -->
<%= javascript_include_tag 'application' %>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
